### Import Necessary Libraries

In [43]:
import pyspark
import pandas as pd

#### 1. Get the current directory location

In [44]:
import os
print(os.getcwd())
files = os.listdir(os.curdir)
files

/home/labsuser/Pyspark

['SalaryGender.csv',
 'Untitled.ipynb',
 '.ipynb_checkpoints',
 'Pyspark_Intro.ipynb']

In [45]:
data_salary = pd.read_csv('SalaryGender.csv')
data_salary.head()

   Salary  Gender  Age  PhD
0   140.0       1   47    1
1    30.0       0   65    1
2    35.1       0   56    0
3    30.0       1   23    0
4    80.0       0   53    1

## Whenver you are working with spark we always need to start a spark session

In [46]:
from pyspark.sql import SparkSession

In [47]:
spark_sess = SparkSession.builder.appName('Practice').getOrCreate()

In [48]:
spark_sess    # We have only one node since we running it locally but in the cloud it hold master and other clusters

In [32]:
df_pyspark = spark_sess.read.csv('SalaryGender.csv')
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [33]:
df_pyspark.show(5)

+------+------+---+---+
|   _c0|   _c1|_c2|_c3|
+------+------+---+---+
|Salary|Gender|Age|PhD|
|   140|     1| 47|  1|
|    30|     0| 65|  1|
|  35.1|     0| 56|  0|
|    30|     1| 23|  0|
+------+------+---+---+
only showing top 5 rows

In [38]:
df_pyspark = spar_sess.read.option('header','true').csv('SalaryGender.csv')

In [39]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [40]:
df_pyspark.head(3)

[Row(Salary='140', Gender='1', Age='47', PhD='1'),
 Row(Salary='30', Gender='0', Age='65', PhD='1'),
 Row(Salary='35.1', Gender='0', Age='56', PhD='0')]

In [42]:
df_pyspark.printSchema()   ## Similar like Info

root
 |-- Salary: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- PhD: string (nullable = true)