### Pyspark handling the missing values

- Dropping columns
- Dropping Rows
- Various Parameter in Dropping functionalities
- Handling missing values by mean

In [34]:
from pyspark.sql import SparkSession
spark_sess = SparkSession.builder.appName('Practice_sess').getOrCreate()

In [38]:
df_salary = spark_sess.read.csv('SalaryGender.csv',header=True,inferSchema=True)
df_salary.show(5)

+------+------+---+---+
|Salary|Gender|Age|PhD|
+------+------+---+---+
| 140.0|     1| 47|  1|
|  30.0|     0| 65|  1|
|  35.1|     0| 56|  0|
|  30.0|     1| 23|  0|
|  80.0|     0| 53|  1|
+------+------+---+---+
only showing top 5 rows

In [39]:
df_salary.describe().show()

+-------+-----------------+------------------+------------------+-------------------+
|summary|           Salary|            Gender|               Age|                PhD|
+-------+-----------------+------------------+------------------+-------------------+
|  count|              103|               103|               102|                101|
|   mean|53.82961165048545|0.5048543689320388|47.068627450980394|0.39603960396039606|
| stddev|43.09802235857528|0.5024213216674024| 15.19201184307171| 0.4915121142106688|
|    min|             0.25|                 0|                20|                  0|
|    max|            190.0|                 1|                77|                  1|
+-------+-----------------+------------------+------------------+-------------------+

#### Filtering the Null values in the Dataframe

In [41]:
df_salary.filter(df_salary.Salary.isNull()).show() ## Filtering based upon one column

+------+------+----+---+
|Salary|Gender| Age|PhD|
+------+------+----+---+
|  null|     0|null|  1|
+------+------+----+---+

In [44]:
df_salary.filter(df_salary.Salary.isNull() | df_salary.Gender.isNull()).show()

+------+------+----+----+
|Salary|Gender| Age| PhD|
+------+------+----+----+
| 165.0|  null|  61|null|
|  null|     0|null|   1|
+------+------+----+----+

In [47]:
df_salary.filter("Salary is Null or gender is Null").show()

+------+------+----+----+
|Salary|Gender| Age| PhD|
+------+------+----+----+
| 165.0|  null|  61|null|
|  null|     0|null|   1|
+------+------+----+----+

### PySpark SQL

In [53]:
df_salary.createOrReplaceTempView("DATA")
spark_sess.sql("SELECT * FROM DATA where salary is null or gender IS NULL").show()

+------+------+----+----+
|Salary|Gender| Age| PhD|
+------+------+----+----+
| 165.0|  null|  61|null|
|  null|     0|null|   1|
+------+------+----+----+

In [58]:
## Dropping the null values in the dataframe

df_salary_1 = df_salary.na.drop(how="all")   ## how=all --> It will the drop the records only if the column values are NULL
df_salary_1.show()

+------+------+---+---+
|Salary|Gender|Age|PhD|
+------+------+---+---+
| 140.0|     1| 47|  1|
|  30.0|     0| 65|  1|
|  35.1|     0| 56|  0|
|  30.0|     1| 23|  0|
|  80.0|     0| 53|  1|
|  30.0|     0| 27|  0|
|  60.0|     1| 53|  0|
|  31.1|     0| 30|  0|
| 125.0|     1| 44|  1|
|  51.0|     1| 63|  1|
|   3.0|     1| 22|  0|
|  46.0|     1| 59|  0|
| 150.0|     1| 60|  1|
|   3.0|     1| 28|  0|
| 130.0|     1| 65|  0|
|  15.0|     0| 25|  0|
| 130.0|     1| 65|  0|
|  84.0|     0| 47|  1|
| 190.0|     1| 66|  1|
|  74.0|     1| 45|  1|
+------+------+---+---+
only showing top 20 rows

In [59]:
df_salary_1.filter("Salary is Null or gender is Null").show()

+------+------+----+----+
|Salary|Gender| Age| PhD|
+------+------+----+----+
| 165.0|  null|  61|null|
|  null|     0|null|   1|
+------+------+----+----+

In [60]:
df_salary_2 = df_salary.na.drop(how="any")   ## how=any --> It will the drop the records any one column values are NULL
df_salary_2.show()

+------+------+---+---+
|Salary|Gender|Age|PhD|
+------+------+---+---+
| 140.0|     1| 47|  1|
|  30.0|     0| 65|  1|
|  35.1|     0| 56|  0|
|  30.0|     1| 23|  0|
|  80.0|     0| 53|  1|
|  30.0|     0| 27|  0|
|  60.0|     1| 53|  0|
|  31.1|     0| 30|  0|
| 125.0|     1| 44|  1|
|  51.0|     1| 63|  1|
|   3.0|     1| 22|  0|
|  46.0|     1| 59|  0|
| 150.0|     1| 60|  1|
|   3.0|     1| 28|  0|
| 130.0|     1| 65|  0|
|  15.0|     0| 25|  0|
| 130.0|     1| 65|  0|
|  84.0|     0| 47|  1|
| 190.0|     1| 66|  1|
|  74.0|     1| 45|  1|
+------+------+---+---+
only showing top 20 rows

In [61]:
df_salary_2.filter("Salary is Null or gender is Null").show()

+------+------+---+---+
|Salary|Gender|Age|PhD|
+------+------+---+---+
+------+------+---+---+

#### Threshold --> Condition for NULL values , if thresh=2 --> it will drop the records if the the record contains more 2 NULL colums

In [65]:
df_salary.createOrReplaceTempView("DATA")
spark_sess.sql("SELECT * FROM DATA where salary is null or gender IS NULL or age is null or phd is null").show()

+------+------+----+----+
|Salary|Gender| Age| PhD|
+------+------+----+----+
|  52.0|     1|null|null|
| 165.0|  null|  61|null|
|  null|     0|null|   1|
|  75.0|     1|  52|null|
+------+------+----+----+

In [66]:
df_salary_2 = df_salary.na.drop(how="any",thresh=2)  
df_salary_2.filter("Salary is Null or gender is Null").show()

+------+------+----+----+
|Salary|Gender| Age| PhD|
+------+------+----+----+
| 165.0|  null|  61|null|
|  null|     0|null|   1|
+------+------+----+----+

In [68]:
#### Subset --> dropping the records based upon the column holds NULL values
df_salary_2 = df_salary.na.drop(how="any",subset="PhD")  
df_salary_2.filter("Salary is Null or gender is Null").show()

+------+------+----+---+
|Salary|Gender| Age|PhD|
+------+------+----+---+
|  null|     0|null|  1|
+------+------+----+---+

### Filling the missing values

In [69]:
df_salary_2 = df_salary.na.fill('Missing Values')
df_salary_2.show()

+------+------+---+---+
|Salary|Gender|Age|PhD|
+------+------+---+---+
| 140.0|     1| 47|  1|
|  30.0|     0| 65|  1|
|  35.1|     0| 56|  0|
|  30.0|     1| 23|  0|
|  80.0|     0| 53|  1|
|  30.0|     0| 27|  0|
|  60.0|     1| 53|  0|
|  31.1|     0| 30|  0|
| 125.0|     1| 44|  1|
|  51.0|     1| 63|  1|
|   3.0|     1| 22|  0|
|  46.0|     1| 59|  0|
| 150.0|     1| 60|  1|
|   3.0|     1| 28|  0|
| 130.0|     1| 65|  0|
|  15.0|     0| 25|  0|
| 130.0|     1| 65|  0|
|  84.0|     0| 47|  1|
| 190.0|     1| 66|  1|
|  74.0|     1| 45|  1|
+------+------+---+---+
only showing top 20 rows

In [77]:
# Impute the missing value using Mean

df_salary_3 = df_salary

from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ['Salary','Age'],
    outputCols = ["{}_imputed".format(c) for c in ['Salary','Age']]).setStrategy("mean")

In [80]:
## Add umputation cols to df

imputer.fit(df_salary_3).transform(df_salary_3).show()