#### In this session we will see the below contents
###### 1.Pyspark Dataframe
###### 2.Reading the Dataset
###### 3.Checking the Datatypes of the Columns(Schema)
###### 4.Selecting Columns and Indexing
###### 5.Check Describe Options similar to Pandas
###### 6.Adding Columns
###### 7.Dropping Columns

In [4]:
import os
print(os.getcwd())
files = os.listdir(os.curdir)
files

/home/labsuser/Pyspark

['Session 1_Pyspark_Intro_.ipynb',
 'Session 2_Pyspark Dataframes_Part1.ipynb',
 'SalaryGender.csv',
 'Untitled.ipynb',
 '.ipynb_checkpoints']

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark_sess = SparkSession.builder.appName('Dataframe').getOrCreate()
spark_sess

In [14]:
# Multiple ways of reading the dataset
data_salary = spark_sess.read.option('header','true').csv('SalaryGender.csv')
data_salary.show(5)

+------+------+---+---+
|Salary|Gender|Age|PhD|
+------+------+---+---+
|   140|     1| 47|  1|
|    30|     0| 65|  1|
|  35.1|     0| 56|  0|
|    30|     1| 23|  0|
|    80|     0| 53|  1|
+------+------+---+---+
only showing top 5 rows

In [15]:
# Check the schema
data_salary.printSchema()  #we didnt pass one more parameter to read the data as it is, i.e is the reason it considering all the values as String)

root
 |-- Salary: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- PhD: string (nullable = true)

In [17]:
data_salary_1 = spark_sess.read.option('header','true').csv('SalaryGender.csv',inferSchema=True)
data_salary_1.show(5)

+------+------+---+---+
|Salary|Gender|Age|PhD|
+------+------+---+---+
| 140.0|     1| 47|  1|
|  30.0|     0| 65|  1|
|  35.1|     0| 56|  0|
|  30.0|     1| 23|  0|
|  80.0|     0| 53|  1|
+------+------+---+---+
only showing top 5 rows

In [18]:
data_salary_1.printSchema()

root
 |-- Salary: double (nullable = true)
 |-- Gender: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- PhD: integer (nullable = true)

In [19]:
data_salary_2 = spark_sess.read.csv('SalaryGender.csv',header=True,inferSchema=True)
data_salary_2.show(5)

+------+------+---+---+
|Salary|Gender|Age|PhD|
+------+------+---+---+
| 140.0|     1| 47|  1|
|  30.0|     0| 65|  1|
|  35.1|     0| 56|  0|
|  30.0|     1| 23|  0|
|  80.0|     0| 53|  1|
+------+------+---+---+
only showing top 5 rows

In [20]:
data_salary_2.printSchema()  # To check the datatypes

root
 |-- Salary: double (nullable = true)
 |-- Gender: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- PhD: integer (nullable = true)

In [22]:
type(data_salary_2)

pyspark.sql.dataframe.DataFrame

In [23]:
data_salary_2.columns

['Salary', 'Gender', 'Age', 'PhD']

#### Selecting only the particular column from the above Dataframe

In [26]:
data_salary_2.select('Salary').show(5)

+------+
|Salary|
+------+
| 140.0|
|  30.0|
|  35.1|
|  30.0|
|  80.0|
+------+
only showing top 5 rows

In [27]:
data_salary_2.select('Salary','PhD').show(5)

+------+---+
|Salary|PhD|
+------+---+
| 140.0|  1|
|  30.0|  1|
|  35.1|  0|
|  30.0|  0|
|  80.0|  1|
+------+---+
only showing top 5 rows

In [28]:
data_salary_2.dtypes

[('Salary', 'double'), ('Gender', 'int'), ('Age', 'int'), ('PhD', 'int')]

In [29]:
data_salary_2.describe()

DataFrame[summary: string, Salary: string, Gender: string, Age: string, PhD: string]

In [30]:
data_salary_2.describe().show()

+-------+-----------------+------------------+------------------+------------------+
|summary|           Salary|            Gender|               Age|               PhD|
+-------+-----------------+------------------+------------------+------------------+
|  count|              100|               100|               100|               100|
|   mean|52.52450000000001|               0.5|             46.88|              0.39|
| stddev|42.22093315782079|0.5025189076296062|15.271469404670192|0.4902071300001972|
|    min|             0.25|                 0|                20|                 0|
|    max|            190.0|                 1|                77|                 1|
+-------+-----------------+------------------+------------------+------------------+

##### Adding a new column to the Dataframe

In [33]:
data_salary_3 = data_salary_2.withColumn('Age_Aft_2year',data_salary_2['Age']+2)
data_salary_3.show(5)

+------+------+---+---+-------------+
|Salary|Gender|Age|PhD|Age_Aft_2year|
+------+------+---+---+-------------+
| 140.0|     1| 47|  1|           49|
|  30.0|     0| 65|  1|           67|
|  35.1|     0| 56|  0|           58|
|  30.0|     1| 23|  0|           25|
|  80.0|     0| 53|  1|           55|
+------+------+---+---+-------------+
only showing top 5 rows

#### drop the columnes

In [35]:
data_salary_4 = data_salary_3.drop('Age_Aft_2year')
data_salary_4.show(5)

+------+------+---+---+
|Salary|Gender|Age|PhD|
+------+------+---+---+
| 140.0|     1| 47|  1|
|  30.0|     0| 65|  1|
|  35.1|     0| 56|  0|
|  30.0|     1| 23|  0|
|  80.0|     0| 53|  1|
+------+------+---+---+
only showing top 5 rows

#### Rename the Columns

In [36]:
data_salary_5 = data_salary_4.withColumnRenamed('Salary','Salary_revise')
data_salary_5.show(5)

+-------------+------+---+---+
|Salary_revise|Gender|Age|PhD|
+-------------+------+---+---+
|        140.0|     1| 47|  1|
|         30.0|     0| 65|  1|
|         35.1|     0| 56|  0|
|         30.0|     1| 23|  0|
|         80.0|     0| 53|  1|
+-------------+------+---+---+
only showing top 5 rows